strong {
  padding: 0 1px;
  color: #f22f27;
  font-weight: 600px;
  font-size: 1em;
}
blockquote {
  border-left: 4px solid #42b983;
  padding: 10px 15px;
  color: #777;
  background-color: rgba(66, 185, 131, .1);
}